<!DOCTYPE html>
 <html>
    <head>
     <title>Video Example</title>
    </head>
     <body style="background-color:powderblue;">

<script src="scripts/main.js"></script> 
     <table style="width:100%">
   <tr>
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td> 
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td> 
     <td><video class="video" width="200" height="200" autoplay></video></td>
   </tr>
   <tr>
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td> 
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td> 
     <td><video class="video" width="200" height="200" autoplay></video></td>
   </tr>
    <tr>
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td> 
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td>
     <td><video class="video" width="200" height="200" autoplay></video></td> 
     <td><video class="video" width="200" height="200" autoplay></video></td>
   </tr>      
 </table>
</body>
 </html>
